<center>

  <h3> Available Courses</h3>
  <table border=1 width="65%">
    <tr><th>Course Id</th><th>Course Num</th><th>Course Name</th><th>UPDATE</th><th>DELETE</th></tr>
    {{#each courses}}
    <form id="{{this.courseId}}" action='/coursedetails' method='post'>
  <!-- Your Form -->
  	<input type='hidden' name='courseid' value='{{this.courseId}}' >
    <tr>
      <td>{{this.courseId}}</td><td>{{this.courseNum}}</td><th><a href="javascript:{}" onclick="document.getElementById('{{this.courseId}}').submit(); return false;">{{this.courseName}}</a></th><td><a href="#">Update</a></td><td><a href="#">Delete</a></tr>

  </form>
    {{/each}}
  </table>

  <br><br>
  <a href="/admin">Home</a>
</center>
