<center>
  <h2> Course Details</h2><hr>
  <h3>Module Details</h3>
  <table border="1" width="60%">
    <tr><th>Module Name</th><th>UPDATE</th><th>DELETE</th></tr>
    {{#each moduledata}}
    <form id="{{this.modulename}}" action='/moduledetails' method='post'>
  <!-- Your Form -->
  	<input type='hidden' name='modulename' value='{{this.modulename}}' >
    <tr>
      <th><a href="javascript:{}" onclick="document.getElementById('{{this.modulename}}').submit(); return false;">{{this.modulename}}</a></th><td><a href="#">Update</a></td><td><a href="#">Delete</a></td></tr>

  </form>
    {{/each}}
    </table>
    <hr>
    <h3>Enrollment Details</h3>
    <table border="1" width="60%">
      <tr><th>Student UserName</th><th>UPDATE</th><th>DELETE</th></tr>
      {{#each enrollmentdata}}
      <tr><td><a href="#">{{this.username}}</a></td><td><a href="#">Update</a></td><td><a href="#">Delete</a></td></tr>
      {{/each}}
      </table>
      <br><br>
      <a href="/admin">Home</a>
  <center>
