
<center><h2> Create New Course</h2></center>
<form action='/createcourse' method='post'>
<table align='center'>
<tr><th align='right'>Course ID: </th><td><input type='text' name='courseid' required></td></tr>
<tr><th align='right'>Course Name: </th><td><input type='text' name='coursename' required></td></tr>
<tr><th align='right'>Course Number: </th><td><input type='text' name='coursenum' required></td></tr>
<tr><th colspan=2><button type='submit'>Upload</button> &nbsp;<a href="/admin"><input type='button' value='Cancel' name='Cancel'></a></th></tr></table>
</form>
