<html ng-app>
<head>
<title>Drafts Page</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

<h1>Drafts Page</h1>
<div class='container' >
<h2 align='center'>Select a problem from the list</h2><br>
		<table >
		
		    <form action='/inputdraft' method='post'>
				{{#each stmtdata}}
			<tr ><td><input type="radio" name="selected" value="{{this.sno}}" >{{this.statement}}</td></tr>
				{{/each}}
			<tr><td colspan=2 align='center'><button type='submit'>submit</button> <a href="/selectmodule"><input type='button' value='Cancel' name='Cancel'></a></td></tr>
			</form>
				
		</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	</body>
</html>

