<html ng-app>
<head>
<title>Grade solutions</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

<div class='container' >
	{{#if drafts}}
	<center><h2> Select a problem to grade</h2></center>
<br>
		<table >

		    <form action='/gradeonanswer' method='post'>

				{{#each drafts}}
			<tr ><td><input type="radio" name="dselected" value="{{this.dno}}" >{{this.username}} : {{this.statement}}</td></tr>
				{{/each}}
			<tr><td colspan=2 align='center'><button type='submit'>submit</button><a href="/userscreen"><input type='button' value='Cancel' name='Cancel'></a></td></tr>

			</form>

		</table>
		{{else}}
		<h2 align='center'>Problems are not available to grade</h2>
		{{/if}}
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	</body>
</html>
