<center><a href="/createnewcourse">Create New Course</a> || <a href="/modifycourse">Modify Existing Course</a> || <a href="/courseemail">Course Mail</a></center>
<center><h2> Update a Course</h2></center>
<form action='/updatecourse' method='post'>
<table align='center'>
<tr><th>Select course: </th><th><select>
  <option value="volvo">Volvo</option>

</select></th></tr>

<tr><th colspan=2><button type='submit'>submit</button><a href="/admin"><input type='button' value='Cancel' name='Cancel'></a></th></tr></table>
</form>
