<html ng-app>
<head>
<title>Problems Page</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [["$","$"],["\\(","\\)"]]
    }
  });
</script>
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full">
</script>
</head>
<body>
<div class='container' >
  <h2 align='center'>List Of Problems in <b>{{modulename}}</b> module</h2><br>
		<table class='table'>
		<thead>
			<tr><th>sno</th><th>Problem</th>
			<th>hint </th><th>UPDATE</th><th>DELETE</th></tr>
		</thead>
		<tbody>
				{{#each stmtdata}}
        <form id="{{this.sno}}" action='/' method='post'>
      <!-- Your Form -->
      	<input type='hidden' name='sno' value='{{this.sno}}' >
			     <tr >
				<td>{{this.sno}}</td>
				<td><div  style='white-space: pre-wrap'>{{this.problem}}</div></td>
				<td>{{this.hint}}</td>
        <td><input type="submit" formaction="/update" value="Update"></td><td><input type="submit" formaction="/delete" value="Delete"></td>
			</tr>
    </form>
				{{/each}}
		</tbody>
		</table>
    <br><br>
    <center><a href="/admin">Home</a></center>
	</div>
</ul>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	</body>
</html>
