<form action='/studsettings' method='post'>
<table align='center'>
 <h3 align='center'>Change password</h3>
 <tr><th>Old Password: </th><th><input type='password' name='password'><br></th></tr>
<tr><th>New Password: </th><th><input type='password' name='password'></th></tr>
<tr><th>New Password (confirmation): </th><th><input type='password' name='password_confirmation'></th></tr>


<tr><th colspan=2><button type='submit'>Change</button><a href="/logout"><input type='button' value='Cancel' name='Cancel'></a></th></tr></table>

</form>
