<center>
  <h2>Student Details</h2>
<table border="1" width="90%">
  <tr><th>Username</th><th>First Name</th><th>Last Name</th><th>Email Address</th><th>UPDATE</th><th>DELETE</th></tr>
  {{#each studentdata}}
  <form action='/' method='post'>
  <!-- Your Form -->
  <input type='hidden' name='studentname' value='{{this.username}}' >
  <tr><td>{{this.username}}</td><td>{{this.firstname}}</td><td>{{this.lastname}}</td><td>{{this.email}}</td>
     <td><input type="submit" formaction="/update" value="Update"></td><td><input type="submit" formaction="/delete" value="Delete"></td></tr>
   </form>
  {{/each}}
  </table>
  <br><br>
  <a href="/admin">Home</a>
</center>
