<html>
<head>
  <title>Frames Test</title>
  <style>
   .menu {
      float:left;
      width:10%;
      height:100%;
    }
    .mainContent {
      float:left;
      width:89%;
      height:100%;
    }
  </style>
</head>
<body>
<div class="menu">
<table align=center>
<tr><th>
  <a href="/selectmodule" target="iframe_a">module 1</a></th></tr><tr><th>
  <a href="/selectmodule" target="iframe_a">module 2</a></th></tr><tr><th>
  <a href="/selectmodule" target="iframe_a">module 3</a></th></tr><tr><th>
  <a href="/selectmodule" target="iframe_a">module 4</a></th></tr><tr><th>
    <hr>
  <a href="/reviewdrafts" target="iframe_a">Grade Drafts</a></th></tr><tr><th>
  <a href="/gradefinal" target="iframe_a">Grade Solution</a></th></tr></table>
</div>
<iframe src="index.html" name="iframe_a" class="mainContent" frameborder="0">
<p>Your browser does not support iframes.</p>
</iframe>
</body>
</html>
