<html ng-app>
<head>
<title>User Page</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>

<table align="Center">
    <tr>
		<td width="20%">  <a href="/drafts">    <div style="height:100%;width:100%">      Your Drafts    </div>  </a></td>
		 <td width="20%">  <a href="/reviewdrafts">    <div style="height:100%;width:100%">      Review Drafts    </div>  </a></td>
		 <td width="20%">  <a href="/gradefinal">    <div style="height:100%;width:100%">      Grade Final    </div>  </a></td>
        
    </tr>
</table>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	</body>
</html>

