<html ng-app>
<head>
<title>User Page</title>
<style>
 .menu {
    float:left;
    width:10%;
    height:100%;
  }
  .mainContent {
    float:left;
    width:89%;
    height:100%;
  }
</style>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
</head>
<body>
<div class="menu"><br><br><br><br><br>
<table align=center>
<tr><th>
  <form id="my_form1" action='/drafts' target="iframe_a" method='post'>
<!-- Your Form -->
	<input type='hidden' name='moduleno' value='m1' >
<a href="javascript:{}" onclick="document.getElementById('my_form1').submit(); return false;">module 1</a>
</form></th></tr><tr><th>
  <form id="my_form2" action='/drafts' target="iframe_a" method='post'>
<!-- Your Form -->
	<input type='hidden' name='moduleno' value='m2'>
<a href="javascript:{}" onclick="document.getElementById('my_form2').submit(); return false;">module 2</a>
</form></th></tr><tr><th>
  <form id="my_form3" action='/drafts' target="iframe_a" method='post'>
<!-- Your Form -->
	<input type='hidden' name='moduleno' value='m3'>
<a href="javascript:{}" onclick="document.getElementById('my_form3').submit(); return false;">module 3</a>
</form></th></tr><tr><th>
  <form id="my_form4" action='/drafts' target="iframe_a" method='post'>
<!-- Your Form -->
	<input type='hidden' name='moduleno' value='m4'>
<a href="javascript:{}" onclick="document.getElementById('my_form4').submit(); return false;">module 4</a>
</form></th></tr><tr><th>
    <hr>
  <a href="/reviewdrafts" target="iframe_a">Grade Drafts</a></th></tr><tr><th>
  <a href="/gradefinal" target="iframe_a">Grade Solution</a></th></tr></table>
</div>
<iframe src="/selectmodule" name="iframe_a" class="mainContent" frameborder="0">
<p>Your browser does not support iframes.</p>
</iframe>
</body>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
	</body>
</html>
